<head>
    <%= stylesheet_link_tag 'static_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="text-center" style="background-image: url('https://images.unsplash.com/photo-1500313830540-7b6650a74fd0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');background-position: center center; background-size: cover;">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column align-items-center">
    <main role="main" class="inner cover my-auto">
      <h1 class="cover-heading">Contact</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a href="mailto:vichearith.ros@gmail.com" class="btn btn-lg btn-secondary">Mail</a>
      </p>
    </main>
  </div>


</body>