<section class="jumbotron text-center" style="background-image: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');background-position: center center; background-size: cover;">
    <div class="container">
      <h1 class="jumbotron-heading text-light">Team</h1>
      <p class="lead text-light">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

<div class="container marketing text-center mt-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle " style="background-image: url('https://media.licdn.com/dms/image/C5103AQFx0-b7XD7I4g/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=oj7ctih0Ui86pyFtBt5mDYQN5Fs8wXeqI2Qh1NhIuXA');background-position: center center; background-size: contain;" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Raphael Doukhan"><title>Placeholder</title></svg>
        <h2>Raphael Doukhan</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" style="background-image: url('https://media.licdn.com/dms/image/C4E03AQHW0HAsFLKmyw/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=XbNzB3rTkj_PtfwMXblxCGmtU3LEwWZMA7D9a-COZ9E');background-position: center center; background-size: contain;" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Alexis Pony"><title>Placeholder</title></svg>
        <h2>Alexis Pony</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" style="background-image: url('https://media.licdn.com/dms/image/C4E03AQHNRpktAq1bRw/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=-jvFnz5ZCBdGZLhp1g-PrBDU35qF1bXVjjmf4sV8eOQ');background-position: center center; background-size: contain;"width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Chloé Rallo"><title>Placeholder</title></svg>
        <h2>Chloé Rallo</h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
<div class="container marketing text-center mt-5">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" style="background-image: url('https://media.licdn.com/dms/image/C4D03AQEeovrYAu3YPA/profile-displayphoto-shrink_200_200/0?e=1570665600&v=beta&t=OmKhXXtZtU9EdKRsESPtYmE2xKAtj4dkxx362uA26SM');background-position: center center; background-size: contain;"width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Eric Ros"><title>Placeholder</title></svg>
        <h2>Eric Ros</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" style="background-image: url('https://media.licdn.com/dms/image/C4E03AQHgigST7dmKkg/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=jYqWjvcK2WIVZgwK13YZSNhpCTqGRzL85SizmsIopkk');background-position: center center; background-size: contain;"width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Julieu Sautereau"><title>Placeholder</title></svg>
        <h2>Julieu Sautereau</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" style="background-image: url('https://media.licdn.com/dms/image/C5603AQF-AluozWi6yw/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=QZysyAMPQjedc41NPoQbl1ncrKIoV0YyZVK23JSONpQ');background-position: center center; background-size: contain;"width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Stéphane Son Alfer"><title>Placeholder</title></svg>
        <h2>Stéphane Son Alfer</h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
